@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../Space.jpg"), #141414;
    background-position: center;
    min-height: 100vh;
}

body::before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background:  url("../Space.jpg"), #000;
background-position: center;
background-size: cover;
}

button {
    background: #fff;
    color: #000;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s ease;
    line-height: 0px;
}
  
button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.top_panel {
    display: flex;
    width: calc(100% - 30px);
    border-radius: 8px;
    text-align: center;
    margin-left:15px;
    margin-bottom: 5px;
    height: 30px;
    background-color: rgba(22, 22, 22, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
}

.tool_bar {
    width: 231px;
}

.context_menu_link {
    position: absolute;
    top: 0px;
    left: 0px;
}

.context_menu_button {
    position: absolute;
    left: 0px;
    height: 20px;
    width: 26px;
    padding: 0px;
    margin: 4px;
    border-radius: 6px;
}

.search_link {
    position: absolute;
    top: 0px;
    left: 29px;
}

.search_button {
    text-align: center;
    font-size: 17px;
    height: 10px;
    width: 70px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin: 4px;
    margin-right:0px;
    border-radius: 6px;
}

.some_link {
    position: absolute;
    top: 0px;
    left: 103px;
}

.some_button {
    text-align: center;
    font-size: 17px;
    height: 10px;
    width: 75px;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin: 4px;
    margin-right:0px;
    border-radius: 6px;
}

.separator {
    color: #fff;
    width: 15px;
    font-weight: 900;
    padding-top: 2px;
}

.tab_bar {
    display: flex;
    width: calc(100% - 246px);
    
}

.tab_button {
    display: none;
    max-width: 200px;
    max-height: 22px;
    margin: 3px;
    overflow: hidden;
    border-radius: 10px;
    white-space: nowrap;
    text-overflow: "";
    font-size: 13px;
    padding: 8px 12px;
    padding-bottom: 9px;
}

.tab_button_active {
    max-width: 200px;
    max-height: 22px;
    margin: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "";
    color: #fff;
    border-color: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    font-size: 13px;
    padding: 8px 12px;
    padding-bottom: 9px;
}


.file-deletion-form {
    display: none;
    border:1px solid rgba(245, 245, 245, 0.507);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 900px;
    min-height: 80px;
    white-space: nowrap;
    border-radius: 10px;
    background: rgba(22, 22, 22, 0.863);
    font-size: 13px;
    padding: 8px 12px;
    padding-bottom: 9px;
}

.deletion-confirmation-message {
    color: whitesmoke;
    font-weight: 600;
    font-size: 17px;
    text-wrap: wrap;
    text-align: center;
    padding-top: 10px;
}

.deletion-form-button-container {
    display:inline-block;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
}

#file-deletion-form-delete {
    margin-right: 2px;
    background: #ff2626;
}


.file-creation-form {
    display: none;
    border:1px solid rgba(245, 245, 245, 0.507);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    min-height: 120px;
    white-space: nowrap;
    border-radius: 10px;
    background: rgba(22, 22, 22, 0.863);
    font-size: 13px;
    padding: 8px 12px;
    padding-bottom: 9px;
}

.file-creation-form button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.file-creation-input{
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}


.file-creation-input label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.file-creation-input input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
  }

.file-creation-input input:focus~label,
.file-creation-input input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.success_message {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px rgb(73, 255, 73) solid;
    border-radius: 10px;
    background-color: rgb(73, 255, 73);
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.error_message {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px rgb(255, 73, 73) solid;
    border-radius: 10px;
    background-color: rgb(255, 73, 73);
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.content {
    display: flex;
}

.bottom_left_panel {
    position: absolute;
    width: 230px;
    border-radius: 8px;
    text-align: center;
    margin:15px;
    margin-top: 0px;
    margin-right: 0px;
    height: 92vh;
    background-color: rgba(22, 22, 22, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
}



.bottom_right_panel {
    display:none;
    position: absolute;
    right: 0%;
    width: calc(100% - 280px);
    border-radius: 8px;
    text-align: center;
    margin:15px;
    margin-top: 0px;
    height: 92vh;
    background-color: rgba(22, 22, 22, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
}


.create_button {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "";
    margin-top: 10px;
}


/* list with files */
.file_list {
    overflow: scroll;
    height: 82vh;
    scrollbar-color: rgba(92, 92, 92, 0) rgba(255, 255, 255, 0);
    scrollbar-width: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.file_button {
    margin-top: 10px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "";
}

.file_button_active {
    margin-top: 10px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "";
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}



/* file redacting interface */
.input-field {
    text-align: center;
    
}

.file-update-form {
    margin: 10px;
    margin-right: 3px;
    overflow: scroll;
    height: calc(100% - 20px);

    scrollbar-color: #fff #00000000;
    scrollbar-width: thin;
}

.file-update-form::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 100px; 
}

.file-update-form::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.label_field {
    margin-top: 10px;
    text-align: center;
    font-size: 23px;
    height: 32px;
    min-height: 32px;
    overflow:hidden;
}

.content_field {
    margin-top:20px;
    height: 100%;
    overflow: hidden;
    min-height: 32px;
}

.input-field textarea {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 900;
    color: #fff;
    resize: none;
    padding-right: 13px;
    padding-left: 13px;
}


.close-button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    padding: 0px;

}

.dropdown-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 250px;

}

.dropdown {
    position: relative;
    width: 100%;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    transition: .5s;
    z-index: 1;
}

.dropdown.active {
    transform: rotate(-180deg);
}

.dropdown-menu button {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    padding: 0px;
}

.items {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: .5s;
}

.items.active {
    height: calc(100% - 120px);
    transform: translateX(-50%);
    margin-top: 20px;
}

.menu {
    position: absolute;
    top: 20px;
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}

.delete-button:hover {
    color: rgb(255, 255, 255);
    border-color: #fff;
    background: #fa0000bd;
}