{% load static %}

<div class="bottom_right_panel" id="{{ panel_id }}">
  <form action="#" method="post">
      <div class="input-field">
        <textarea class="label_field" type="textarea" name="label">{{ note.label }}</textarea>
      </div>
  
      <div class="input-field">
        <textarea class="content_field" type="textarea" name="content">{{ note.content }}</textarea>
      </div>
  </form>
  
  <button class="close_file_button" type="button">x</button>
  <button class="delete_file_button" type="button">D</button>
</div>