{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prisma</title>
  <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
  <div class="top_panel">
    <ol class="tool_bar">
      <button class="context_menu_button">≡</button>
      <a class="search_link" href="#">
        <button class="search_button">Search</button>
      </a>
      <a class="some_link" href="#">
        <button class="some_button">Button</button>
      </a>
    </ol>

    <span class="separator">·</span>

    <ol class="tab_bar">
      <a href="#" class="tab">
        <button class="tab_button_active" type="button">Gwynevere</button>
      </a>

      <a href="#" class="tab">
        <button class="tab_button" type="button">Gwyn, Lord of Sunlight</button>
      </a>
    </ol>
  </div>  

  <div class="content">
    <div class="bottom_left_panel" id="left-panel">

        <button class="create_button" type="button">+</button>
        

      <ol class="file_list" href="{% url "work-space:opened-file" %}">
        {% for file in files %}
          <button class="file_button" id="{{ file.label }}_id" type="button">{{ file.label }}</button>
        {% endfor %}
      </ol>
    </div>



    
  </div>

  <div class="file-creation-form">
    <form id="id-file-creation-form" action="{% url "work-space:file-creation-form" %}" method="post">{% csrf_token %}
      <div class="file-creation-input">
        <input class="file-name-input" type="text" name="label" required>
        <label>File name</label>

      </div>

      <button type="submit" id="file-creation-form-submit">Create</button>
    </form>
  </div>

  <div class="success_message" id="success_message_id"></div>
  <div class="error_message" id="error_message_id"></div>

  <script src={% static "js/jquery/jquery-3.7.1.min.js" %}></script>
  <script src={% static "js/jquery-ajax.js" %}></script>
</body>
</html>