{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prisma</title>
  <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
  <div class="top_panel">
    <ol class="tool_bar">
      <button class="context_menu_button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
      <a class="search_link" href="#">
        <button class="search_button">Search</button>
      </a>
      <a class="some_link" href="#">
        <button class="some_button">Button</button>
      </a>
    </ol>

    <span class="separator">·</span>

    <ol class="tab_bar"></ol>
  </div>  

  <div class="content">
    <div class="bottom_left_panel" id="left-panel">

        <button class="create_button" type="button">+</button>
        

      <ol class="file_list" href="{% url "work-space:opened-file" %}">
        {% for label, id in notes %}
          <button class="file_button" id="{{ id }}" type="button">{{ label }}</button>
        {% endfor %}
      </ol>
    </div>



    
  </div>

  <div class="file-creation-form">
    <form id="id-file-creation-form" action="{% url "work-space:file-creation-form" %}" method="post">{% csrf_token %}
      <div class="file-creation-input">
        <input class="file-name-input" type="text" name="label" required>
        <label>File name</label>
      </div>
      <button type="submit" id="file-creation-form-submit">Create</button>
    </form>
  </div>

  <div class="file-deletion-form" href="{% url "work-space:file-deletion-form" %}">
      <div class="deletion-confirmation-message"></div>

      <div class="deletion-form-button-container">
        <button type="button" id="file-deletion-form-cancel">Cancel</button>
      </div>
      <div class="deletion-form-button-container">
        <button type="button" id="file-deletion-form-delete">Delete</button>
      </div>
  </div>

  <div class="success_message" id="success_message_id"></div>
  <div class="error_message" id="error_message_id"></div>

  <script src={% static "js/jquery/jquery-3.7.1.min.js" %}></script>
  <script src={% static "js/jquery-ajax.js" %}></script>
</body>
</html>